.question-header-wrapper {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
    padding: 10px 20px;
    width: 800px;
}

.question-header-title {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    font-family: sans-serif;
}

.question-header-content {
    font-size: 16px;
}

.question-header-top {
    display: flex;
    justify-content: space-between;
}

.qustion-header-avatar {
    width: 64px;
    height: 64px;
    border-radius: 3px;
}

.question-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}