.login {
    background-image: url("../../assets/Yosemite-Color-Block.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}