.careers-wrapper {
    display: flex;
    justify-content: center;
}

.careers-content {
    width: 900px;
    padding: 10px 22px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

.careers-introduce-hc {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 36px;
}

.careers-positions {
    line-height: 36px;
}

.position-title {
    font-size: 18px;
    font-weight: 700;
}

.position-expect {
    font-size: 16px;
}

.position-expect ul {
    padding-left: 22px;
}