.inner-card {
    width: 330px;
    height: 350px;
}

.login-form-button {
    width: 100%;
}

/* 第三方登录盒子 */
.social-login {
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


