.nav-header {
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 1;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

.nav-dropdown {
    display: none;
}

.nav-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content-left {
    display: flex;
    align-items: center;
}

.nav-menu-wrapper {
    margin-left: 20px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.nav-avatar {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 450px) {
    .nav-menu-wrapper {
        display: none;
    }
    .nav-header {
        min-height: 60px;
    }
    .nav-content {
        width: 100%;
    }
    .nav-dropdown {
        display: block;
    }
    .nav-logo, .nav-search {
        display: none;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
    }
}