.nav-header {
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 1;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

.nav-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content-left {
    display: flex;
    align-items: center;
}

.nav-menu {
    margin-left: 20px;
}

.nav-avatar {
    width: 30px;
    height: 30px;
}