.nav-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

/* .nav-logo {
    width: 64px;
    height: 64px;
} */

.nav-menu {
    margin-left: 20px;
}
