.footer {
    text-align: center;
    bottom: 0;
	padding: 10px;
}

.footer>a {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.footer>a:not(:last-child)::after {
    content: " · ";
    white-space: pre;
}