.ask-item {
    padding: 10px 20px;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

.ask-description {
    font-size: 14px;
    color: #8590a6;
}

.ask-item-title {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}