.academy-wrapper {
    display: flex;
    justify-content: center;
}

.academy-content {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

@media screen and (max-width: 450px) {
    .academy-content {
        width: 100%;
    }
}
